<section id="contact" class="space-y-8 mt-16">
    <h2 class="text-4xl font-bold">Contact Me</h2>
    <form class="grid gap-4">
        <input placeholder="Mathis Albertzard" class="px-4 py-2 bg-[color:var(--fg2)] rounded text-lg" type="text" />
        <input placeholder="malbertzard@gmail.com" class="px-4 py-2 bg-[color:var(--fg2)] rounded text-lg" type="email" />
        <textarea placeholder="Your Message" class="px-4 py-2 bg-[color:var(--fg2)] rounded text-lg h-32"></textarea>
        <button type="submit" class="px-4 py-2 bg-[color:var(--orange)] rounded text-lg hover:bg-[color:var(--red-dim)]">
            Send Message
        </button>
    </form>
</section>
