<header class="flex items-center justify-between px-8 py-4">
    <div class="text-2xl font-bold">Mathis Albertzard</div>
    <nav class="space-x-4">
        <a class="text-lg hover:text-[color:var(--orange)]" href="#" hx-get="/section/main" hx-trigger="click" hx-swap="innerHTML" hx-target="#content">Home</a>
        <a class="text-lg hover:text-[color:var(--orange)]" href="#">Blog</a>
        <a class="text-lg hover:text-[color:var(--orange)]" href="#">Portfolio</a>
        <a class="text-lg hover:text-[color:var(--orange)]" href="#" hx-get="/page/contact" hx-trigger="click" hx-swap="innerHTML" hx-target="#content">Contact</a>
    </nav>
</header>
